<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
 <title>Insert title here</title>
</head>
<body>
	<!-- 
		th:each 예제 
		th:each를 이용하면 자바의 for문처럼 반복문을 사용할 수 있습니다.
		전달받은 itemDtoList에 있는 데이터를 하나씩 꺼내와서 ItemDto에 담아 줍니다.
	-->
   <h1>상품 리스트 출력 예제</h1>
   <table border="1">
   	<thead>
   		<tr>
   			<td>순번</td>
   			<td>상품명</td>
   			<td>상품설명</td>
   			<td>가격</td>
   			<td>상품등록일</td>
   		</tr>
   	</thead>
   	<tbody>
   		<tr th:each="itemDto, status:${itemDtoList}">
   			<td th:text="${status.index}"></td>
   			<td th:text="${itemDto.itemNm}"></td>
   			<td th:text="${itemDto.itemDetail}"></td>
   			<td th:text="${itemDto.price}"></td>
   			<td th:text="${itemDto.regTime}"></td>
   		</tr>
   	</tbody>
   </table>
   
</body>
</html>