<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
 <title>Insert title here</title>
</head>
<body>
<!-- 
	Thymeleaf 페이지 레이아웃 
	보통 웹사이트를 만들려면 header, footer, menu등
	공통적인 페이지 구성 요소들이 있습니다.
	이런 영역들을 각각의 페이지마다 같은 소스코드를 넣는다면 변경이 일어날 때마다
	이를 포함하고 있는 모든 페이지를 수정해야 할 것입니다.
	Thymeleaf의 페이지 레이아웃 기능을 사용한다면 공통 요소 관리를 쉽게 할 수 있습니다.
-->
<!-- /templates/fragments/footer.html -->
<!-- 다른 페이지에 포함시킬 영역을 th:fragment로 선언해줍니다. -->
	<div th:fragment="footer">
		footer 영역입니다.
	</div>
</body>
</html>
